<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668931421578-q411fh7kiidk430pvmkegqrl7n4qm6ea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_5Ft9Rca5nSMT5nTFScWocY0B5SL2l_k</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668931421578-q411fh7kiidk430pvmkegqrl7n4qm6ea</string>
	<key>GCM_SENDER_ID</key>
	<string>668931421578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.trongbinh.Clima</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-c4270</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-c4270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668931421578:ios:b444266d8b916eac3dc473</string>
</dict>
</plist>
